<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{!Help Page}}Some Website</title>
    </head>
    <body>
{{!--
        <h1>{{!About Page}}{{pageTitle}}</h1>
--}}
        {{> 45header}}
{{!--
        <p>{{!Some text here}}{{welcomeMessage}}</p>
--}}
        <p>{{!Some text here}}{{screamIt welcomeMessage}}</p>
        
{{!--
<!--
    <footer>
            <p>Copyright {{!2016}}{{currentYear}}</p>
    </footer>
-->
--}}  
        {{> 45footer}}
    </body>
</html>